.navigation-bar {
    text-align: center;
    font-size: 44pt;
    vertical-align: middle;
}

.navigation-bar > button {
    min-width: 15vw;
    line-height: 44px;
    font-size: 5vw;
}

.navigation-bar > span {
    display: inline-block;
    min-width: 15vw;
    line-height: 44px;
    font-size: 5vw;
}
